
@{
    ViewBag.Title = "Index";
}

<h2>Index - Inscription</h2>

<p>
    <a href="~/Inscription/Navigant">Inscription Navigant</a>
</p>

<p>
    <a href="~/Inscription/Entreprise">Inscription Entreprise</a>
</p>

