
@{
    ViewBag.Title = "Navigant";
}

<h2>Navigant - Inscription</h2>

<form method="post" action="~/Formulaire/InscriptionNav">
    <table>
        <tr>
            <td><label>Votre Nom</label></td>
            <td><input type="text" name="nom" required /></td>
        </tr>
        <tr>
            <td><label>Votre Prénom</label></td>
            <td><input type="text" name="prenom" required /></td>
        </tr>
        <tr>
            <td><label>Votre fonction</label><br /></td>
            <td>
                <select name="fonction" required>
                    <option value="1">Capitaine</option>
                    <option value="2">Matelot</option>
                </select>
            </td>
        </tr>
        <tr>number 
            <td><label>Votre Expérience</label></td>
            <td><input type="number" name="experience" min="0" max="40" required /></td>
        </tr>
        <tr>
            <td><label>Votre Téléphone</label></td>
            <td><input type="tel" name="telephone" required /></td>
        </tr>
        <tr>
            <td><label>Votre Email</label></td>
            <td><input type="email" name="email" required /></td>
        </tr>
    </table>
    <input type="submit" value="Créer mon compte" />
</form>

