
@{
    ViewBag.Title = "Navigant";
}

<h2>Navigant - Inscription</h2>

<form method="post" action="~/Formulaire/InscriptionNav">
    <table>
        <tr>
            <td><label>Votre Nom</label></td>
            <td><input type="text" name="nom" /></td>
        </tr>
        <tr>
            <td><label>Votre Prénom</label></td>
            <td><input type="text" name="prenom" /></td>
        </tr>
        <tr>
            <td><label>Votre fonction</label><br /></td>
            <td>
                <select name="fonction">
                    <option value="1">Capitaine</option>
                    <option value="2">Matelot</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Votre Expérience</label></td>
            <td><input type="number" name="experience" min="0" max="40" /></td>
        </tr>
        <tr>
            <td><label>Votre Téléphone</label></td>
            <td><input type="tel" name="telephone" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" /></td>
        </tr>
        <tr>
            <td><label>Votre Email</label></td>
            <td><input type="email" name="email" /></td>
        </tr>
        <tr>
            <td><label>Mot de passe</label></td>
            <td><input type="password" name="motDePasse" /></td>
        </tr>
        <tr>
            <td><label>Confirmation</label></td>
            <td><input type="password" name="confMotDePasse" /></td>
        </tr>
    </table>
    <input type="submit" value="Créer mon compte" />
</form>
<p>@ViewData["messageInscriptionNav"]</p>