
@{
    ViewBag.Title = "Index";
}

<h2>Index - Accueil du site</h2>
<p>
    <a href="~/Navigant/Index">Espace Navigant</a>
</p>

<p>
    <a href="~/Entreprise/Index">Espace Entreprise</a>
</p>

<p>
    <a href="~/Inscription/Index">Inscription</a>
</p>
